<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/sockets.js"></script>
  </head>
  <body>
  
    <h1 id="logo">Fake chat</h1>

    <form action="" id="username">
      <input id="name" placeholder="Enter Username"><button id="sendNameButton">Enter <h2>Fake Chat</h2></button>
    </form>

    <ul id="messages"></ul>

    <form action="" id="messageInput">
      <input id="message" autocomplete="off" /><button id="chatButton">Send</button>
    </form>

  </body>
</html>